#container {
    width: 1px;
    height: 1px;
    position: relative;
}
#container .ship {
    width: 50px;
    height: 50px;
    position: relative;
}
#container .ship img{
	position: absolute;
}

body {
	background: #202020;
}
